// extends
%nav-links {
    position: relative;
    color: $light;
    text-transform: uppercase;
    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: -5;
      content: "";
      display: block;
      height: 2px;
      right: 0;
      position: absolute;
      background: $light;
      transition: $transition;
      width: 0;
    }
    &:hover::after {
      width: 100%;
      right: 0;
    }
  }
  
  .navigation__nav-link {
    @extend %nav-links;
  }
  
 
  %buttons {
        background-color: $light;
        color: $dark;
        border: 2px solid $light;
        padding: 1rem;
        border-radius: $border-radius;
        
        transition: $transition;
        cursor: pointer;
        text-transform: capitalize;
        display: inline-block;
        width: 100%;
        max-width: 200px;
      
      }
  
      .button-light {
        @extend %buttons;
        &:hover {
          background: transparent;
          color: $light;
          border: 2px solid $light;
        } 
      }
  
      .button-green {
        @extend %buttons;
        background-color: $primary;
        color: $light;
        padding: 1rem;
        border: 2px solid $primary;
        
        &:hover {
          background: transparent;
          color: $primary;
          border: 2px solid $primary;
        }
       
      }
  
      .button-download {
        @extend %buttons;
        background-color: transparent;
        color: $primary;
        border: 2px solid $primary;
      }

     