@import "variables";



@mixin bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin container($padding, $max-width) {
  padding: $padding;
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


// media query

@mixin small-phone {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin phone {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}














