@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import 'mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

html {
    scroll-behavior: smooth;
    font-size: 4vw;
    @include mediaQuery(400px) {
        font-size: 1rem;
    }
}

body {
    overflow-x: hidden;
    color: $light;
    line-height: 1.6;
    letter-spacing: 1px;
}




li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $light;
}

h1, h2, h3, h4, p {
margin-bottom: 1rem;

}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}






// utilities


.heading {
    text-align: center;
    margin-bottom: 4rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    position: relative;
   
    &::after {
        content:' ';
        position: absolute;
        top:100%;
        left:50%;
        width: 50px;
        height: 4px;
        background-color: $primary;
        transform:translateX(-50%);
    }
}






