@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import 'mixins';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

// html {
//     scroll-behavior: smooth;
   
// }

body {
    overflow-x: hidden;
    line-height: 1.6;
    font-size: 0.9rem;
    @include phone {
        font-size: 1rem;
    }
    color: $light;
}




li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $light;
}

h1, h2, h3, h4 {
margin-bottom: 1rem;

}

p {
    margin-bottom: 20px;
}



// utilities
.above-heading {
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    color: $primary;
}

.heading {
    @include small-phone {
        font-size: 1.5rem;
    }
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    position: relative;
    &::after {
        content:' ';
        position: absolute;
        top:100%;
        left:50%;
        width: 50px;
        height: 4px;
        background-color: $primary;
        transform:translateX(-50%);
    }
}

.logo {
    width: 11rem;
    @include phone {
        width: 13rem;
    }
}




