@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  html {
    font-size: 1rem;
  }
}

body {
  overflow-x: hidden;
  color: #ffffff;
  line-height: 1.6;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

p {
  margin-bottom: 1rem;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  position: relative;
}

.heading::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50px;
  height: 4px;
  background-color: #009485;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navigation__nav-link {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation__nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5;
  content: "";
  display: block;
  height: 2px;
  right: 0;
  position: absolute;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0;
}

.navigation__nav-link:hover::after {
  width: 100%;
  right: 0;
}

.button-light, .button-green, .button-download {
  background-color: #ffffff;
  color: #2c2c2c;
  border: 2px solid #ffffff;
  padding: 1rem;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

@media (max-width: 600px) {
  .button-light, .button-green, .button-download {
    max-width: 175px;
  }
}

.button-light:hover {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.button-green {
  background-color: #009485;
  color: #ffffff;
  padding: 1rem;
  border: 2px solid #009485;
}

.button-green:hover {
  background: transparent;
  color: #009485;
  border: 2px solid #009485;
}

.button-download {
  background-color: transparent;
  color: #009485;
  border: 2px solid #009485;
}

@media (min-width: 992px) {
  .parallax {
    position: relative;
    z-index: 2;
    margin-bottom: 400px;
  }
}

.parallax #fake-contact {
  position: absolute;
  bottom: 0;
  visibility: hidden;
}

.navigation {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 600px) {
  .navigation {
    display: block;
  }
}

.navigation__container {
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__nav-link {
  margin: 0 1rem;
}

.showcase {
  background-image: url("../images/bg-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

@media (min-width: 992px) {
  .showcase {
    background-attachment: fixed;
  }
}

.showcase::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 97, 87, 0.95);
  z-index: -1;
}

.showcase-container {
  padding: 0rem 1rem 5rem;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .showcase-container {
    padding: 0rem 1rem;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .showcase-container {
    padding: 0 1rem;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.showcase h1 {
  font-size: 2.3rem;
}

@media (min-width: 992px) {
  .showcase h1 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .showcase p {
    font-size: 1.5rem;
  }
}

.bottom-navigation {
  line-height: normal;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343434;
  z-index: 99;
}

@media (min-width: 600px) {
  .bottom-navigation {
    display: none;
  }
}

.bottom-navigation__container {
  padding: 1rem;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-navigation__bottom-navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

.bottom-navigation__bottom-navlink i {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.bottom-navigation li {
  width: 100%;
}

.skills {
  background-color: #ffffff;
  color: #2c2c2c;
}

.skills__container {
  padding: 5rem 1rem;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .skills__container {
    padding: 10rem 1rem;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

@media (min-width: 992px) {
  .skills ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.skills li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skills i {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #009485;
}

.mobile-first {
  position: relative;
  background-image: url("../images/mobile-first.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

@media (min-width: 992px) {
  .mobile-first {
    background-attachment: fixed;
  }
}

.mobile-first::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 97, 87, 0.95);
  z-index: -1;
}

.mobile-first__container {
  padding: 5rem 1rem;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media (min-width: 992px) {
  .mobile-first__container {
    padding: 5rem 1rem;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .mobile-first__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}

.mobile-first__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .mobile-first__text {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.mobile-first__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mobile-first__image img {
  height: 300px;
}

@media (min-width: 768px) {
  .mobile-first__image img {
    height: 400px;
  }
}

.projects {
  background-color: #ffffff;
  color: #2c2c2c;
}

.projects-container {
  padding: 5rem 1rem;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .projects-container {
    padding: 10rem 1rem;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.projects-item {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .projects-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4rem;
    text-align: left;
  }
}

.projects-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .projects-description {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.projects-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects img {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  border: 1px solid gainsboro;
}

.projects-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  gap: 1rem;
}

@media (min-width: 992px) {
  .projects-buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.about {
  background-color: #f2f2f2;
  color: #2c2c2c;
}

.about-container {
  padding: 5rem 1rem;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .about-container {
    padding: 10rem 1rem;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.contact {
  color: #ffffff;
  background-color: #2c2c2c;
}

@media (min-width: 992px) {
  .contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 400px;
  }
}

.contact-container {
  padding: 5rem 1rem 10rem;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .contact-container {
    padding: 7rem 1rem;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 992px) {
  .contact-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.contact-item ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.contact-item ul ul li {
  margin: 0 1rem;
}

.contact-item ul ul li a {
  font-size: 1.2rem;
}

.contact-item h2 {
  margin-bottom: 0.5rem;
}

.contact-item a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-item a:hover {
  color: #009485;
}
/*# sourceMappingURL=styles.css.map */