@import "resets";
@import "variables";
@import "mixins";
@import "extends";



.parallax {
  @include laptop {
    position: relative;
    z-index: 2;
    margin-bottom: 400px;
  }
  #fake-contact {
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }
}

//navigation
.navigation {
    z-index: 1000;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include phone {
      display: block;
    }
    &__container {
      @include container(1rem 1rem, 960px);
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__nav-links {
      display: flex;
    }
    &__nav-link {
      margin: 0 1rem;
    }
  }

 
  

  //showcase
  .showcase {
    background-image: url('../images/bg-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(darken($primary, 10),0.95);
      z-index: -1;
    }
    &-container {
      @include container(0rem 1rem 5rem, 600px);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      @include phone {
        @include container(0rem 1rem, 600px);
      }
      @include laptop {
        @include container(0 1rem, 960px);
      }
    }

    h1 {
      font-size: 2.5rem;
      @include laptop {
        font-size: 4rem;
      }
    }
    p {
      @include laptop {
        font-size: 1.5rem;
      }
    }
  }

  //bottom navigation
  .bottom-navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lighten($dark, 3);
    z-index: 99;
    
    @include phone{
      display: none;
    }
   

    &__container {
      @include container(1rem, 960px);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__bottom-navlink {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $light;
      
      
      i {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
      }
    }

    li {
      width: 100%;
    }    
  }

  
//skills 
.skills {
  background-color: $light;
  color: $dark;
  &__container {
    @include container(5rem 1rem, 600px);
    @include laptop {
      @include container(10rem 1rem, 960px);
    }
  }
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include laptop {
      flex-direction: row;
      
    }
  }

  li {
    flex: 1;
    
  }

  i {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: $primary;
  }
}


//mobile first
.mobile-first {
  position: relative;
  background-image: url('../images/mobile-first.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(darken($primary, 10),0.95);
    z-index: -1;
  }
 &__container {
  @include container(5rem 1rem, 600px);
  @include laptop {
    @include container(5rem 1rem, 960px);
  }
   display: flex;
   flex-direction: column;
   gap: 2rem;
   @include laptop {
     flex-direction: row;
     gap: 0;
     
   }
 }

 &__text {
   
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    @include laptop {
      text-align: left;
      align-items: flex-start;
    }
    h1 {
      font-size: 1.7rem;
     
    }
 }

 &__image {
   flex: 1;

   img {
    transform: rotate(5deg);
     height: 300px;
     @include tablet {
       height: 400px;
     }
   }
 }
 
 
}


//projects
.projects {
  background-color: $light;
  color: $dark;
  &-container {
    @include container(5rem 1rem, 600px);
    @include laptop {
      @include container(10rem 1rem, 960px);
    }
  }

  &-item {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include laptop {
      flex-direction: row;
      gap: 4rem;
      text-align: left;
    }
  }

  &-description {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
   align-items: center;
   @include laptop {
     align-items: flex-start;
   }
  }

  &-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
  width: 100%;
  max-width: 600px;
  border-radius: $border-radius;
  border: 1px solid gainsboro;
 
  }

  &-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    
    @include laptop {
      justify-content: flex-start;
    }
  }

  
}


//about
.about {
  background-color: darken($light, 5);
  color: $dark;
  &-container {
    
    @include container(5rem 1rem, 600px);
    @include laptop {
      @include container(10rem 1rem, 960px);
    }
  }
}

//cotnact
.contact {
  @include laptop {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 400px;
  }  
  color: $light;
  background-color: $dark;
  &-container {
    @include container(5rem 1rem 10rem, 960px);
    @include phone {
      @include container(5rem 1rem, 960px);
    }
    
  }

  &-grid {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include laptop {
      grid-template-columns: 1fr 1fr 1fr;
      
    }

    
  }

  &-item {
    
    
    
    ul {
      background-color: lighten($dark, 1);
      display: inline-block;
      padding: 1.5rem;
      width: 100%;
      max-width: 300px;
      border-radius: $border-radius;
      ul {
        display: flex;
        justify-content: center;
        padding: 0;
        li {
          margin: 0 1rem;
          a {
            font-size: 1.2rem;
          }
          
          
        }
        
      } 
    }
    h2 {
      margin-bottom: 0.5rem;
    }
    a {
      
      transition: $transition;
      &:hover {
        color: $primary;
      }
    }
  }


}




